[Unit]
Description=WebSocket Server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sudo /home/lj/server/InterceptingPlate_Server/rw -w 4 0x28180204 0x89999990
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 down
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 txqueuelen 100
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 type can bitrate 1000000
ExecStartPre=/usr/bin/sudo /usr/sbin/ip link set can0 up
ExecStart=/home/lj/server/InterceptingPlate_Server/build/websocket_server
Restart=always
RestartSec=3s        # 如果程序挂掉，3秒后重启
WorkingDirectory=/home/lj/server/InterceptingPlate_Server
StandardOutput=null
StandardError=null
Environment=PATH=/usr/sbin:/usr/bin:/sbin:/bin

# 增加对网络配置的能力
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
